#login{
	BACKGROUND: url(../images/login/login_main.jpg) no-repeat 50% 100px;;height:100%;width:100%;
}


ul {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
	LIST-STYLE-TYPE: none
}

ul li{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
	LIST-STYLE-TYPE: none;
}
ul li p{
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

a:link{ color:#000000}
a:hover{ color:#A52A2A}
a:active{ color:#000000}
a:visited{ color:#000000}
