<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl"
			value="jdbc:mysql://10.15.107.100:33061/open_exam?useUnicode=true&amp;characterEncoding=utf-8"></property>
		<property name="user" value="root"></property>
		<property name="password" value="111111"></property>
		<property name="acquireIncrement" value="5"></property>
		<property name="initialPoolSize" value="10"></property>
		<property name="maxIdleTime" value="10000"></property>
		<property name="maxPoolSize" value="30"></property>
		<property name="minPoolSize" value="10"></property>
		<property name="maxAdministrativeTaskTime" value="10"></property>
		<property name="breakAfterAcquireFailure" value="false"></property>
		<property name="idleConnectionTestPeriod" value="3"></property>
		<property name="preferredTestQuery" value="SELECT 1"></property>
		<property name="testConnectionOnCheckin" value="false"></property>
		<property name="testConnectionOnCheckout" value="true"></property>
		<property name="checkoutTimeout" value="5000"></property>
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource"></constructor-arg>
	</bean>
		<bean id="jdbcTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource"><ref bean="dataSource" /></property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="jdbcTransactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="*" read-only="false" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="userAllManagerMethod"
			expression="execution(* com.eln365.exam.service.*.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="userAllManagerMethod" />
	</aop:config>

</beans>